* {
    box-sizing: border-box;
}

img {
    width: 25%;
}

div {
    border: 2px;
    background-color: #fafafa;
}

body {
    text-align: center;
    background-image: url("https://wallpapercave.com/wp/wp3170170.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px;
    background-color: #fafafa;
}